/* .banner-image {
  background-image: url(../image/per-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
} */

.left-b-box{
  height: 100vh;
  background-color: azure;
}